/* @font-face {
	font-family: 'Inter';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
}

h1, 
.h1 {
    font-size: var(--elpuas-preset-fontsize-h1); 
}

h2,
.h2 {
    font-size: var(--elpuas-preset-fontsize-h2);
}

h3,
.h3 {
    font-size: var(--elpuas-preset-fontsize-h3);
}

h4,
.h4 {
    font-size: var(--elpuas-preset-fontsize-h4);
}

h5,
h6,
.h5,
.h6 {
    font-size: var(--elpuas-preset-fontsize-h5);
}

p, a, li, span, strong, em, input, textarea, select {
    font-size: var(--elpuas-preset-fontsize-base);
}