---
import BaseLayout from '../layouts/BaseLayout.astro';
import Heading from '../components/Heading.astro';
---

<BaseLayout
	title="About Me."
	description="I’m passionate about helping people create and build great digital products. I’ve been designing and developing software for fifteen years, and I’m a big supporter of the startup and tech community."
>
	<div class="spacer"></div>
	<Heading level="h1">About Me</Heading>
	<Heading level="h5">I’m passionate about helping people create and build great digital products. I’ve been designing and developing software for fifteen years, and I’m a big supporter of the startup and tech community.</Heading>
</BaseLayout>
