---
import BaseLayout from '../layouts/BaseLayout.astro'
import Heading from '../components/Heading.astro'
import Button from '../components/Button.astro'
---
<BaseLayout title="Let's Talk">
	<div class="spacer"></div>
	<Heading level="h1">Success!</Heading>
	<Heading level="h5">Thank you for reaching out! Your message has been successfully sent.</Heading>
	<Button label="Back to Home" href='/'>
</BaseLayout>
