---
import BaseLayout from '../layouts/BaseLayout.astro'
import Heading from '../components/Heading.astro'
---
<BaseLayout
	title="What I Do."
	description="Artistic expression has been my lifelong passion. This is a showcase of my journey through comics, street art, graphic design, and web development."
>
	<div class="spacer"></div>
	<Heading level="h1">What I Do.</Heading>
	<Heading level="h5">Artistic expression has been my lifelong passion. This is a showcase of my journey through comics, street art, graphic design, and web development.</Heading>
</BaseLayout>