---
import { Image } from '@datocms/astro/Image';
const { images } = Astro.props;
---
<section class="gallery">
    {images.map(image => (
        <div class="gallery-item">
            <Image data={image.responsiveImage} />
            <div class="wrapper">
                <div class="fold">{image.responsiveImage.alt}</div>
            </div>
        </div>
    ))}
</section><!-- gallery -->

<style>
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;
        margin: var(--elpuas-preset-space-xl) 0;

        .gallery-item {
            width: 100%;
            height: 100%;
            text-align: center;
            position: relative;
            cursor: pointer;
            border: 1px solid var(--elpuas-preset-color-secondary);

            &:hover {
                border-radius: 4px;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                .wrapper {
                    transform: translateY(0);
                    opacity: 1;
                }
            }

            img {
                width: 100%;
                height: 100% !important;
                object-fit: cover;
                object-position: center top;
                min-height: 384px;
            }

            .wrapper {
                display: block;
                position: absolute;
                width: 60%;
                bottom: 0;
                left: 0;
                opacity: 1;
                margin-top: var(--elpuas-preset-space-xs);
                padding: var(--elpuas-preset-space-xs) var(--elpuas-preset-space-sm);
                font-size: 14px;
                color: var(--elpuas-preset-color-black);
                background-color: transparent;
                text-align: left;
                transform: translateY(100%);
                opacity: 0;
                transition: all 0.5s ease-in-out;

                .fold {
                    background:
                    -webkit-linear-gradient(225deg, transparent 50%, var(--elpuas-preset-color-secondary) 50%),
                    -webkit-linear-gradient(45deg, var(--elpuas-preset-color-primary), var(--elpuas-preset-color-primary)),
                    -webkit-linear-gradient(135deg, var(--elpuas-preset-color-primary), var(--elpuas-preset-color-primary)),
                    -webkit-linear-gradient(225deg, transparent 25px, var(--elpuas-preset-color-primary) 10px);
                    background:
                    -moz-linear-gradient(225deg, transparent 50%, var(--elpuas-preset-color-secondary) 50%),
                    -moz-linear-gradient(45deg, var(--elpuas-preset-color-primary), var(--elpuas-preset-color-primary)),
                    -moz-linear-gradient(135deg, var(--elpuas-preset-color-primary), var(--elpuas-preset-color-primary)),
                    -moz-linear-gradient(225deg, transparent 25px, var(--elpuas-preset-color-primary) 10px);
                    background:
                    -o-linear-gradient(225deg, transparent 50%, var(--elpuas-preset-color-secondary) 50%),
                    -o-linear-gradient(45deg, var(--elpuas-preset-color-primary), var(--elpuas-preset-color-primary)),
                    -o-linear-gradient(135deg, var(--elpuas-preset-color-primary), var(--elpuas-preset-color-primary)),
                    -o-linear-gradient(225deg, transparent 25px, var(--elpuas-preset-color-primary) 10px);
                    background:
                    linear-gradient(225deg, transparent 50%, var(--elpuas-preset-color-secondary) 50%),
                    linear-gradient(45deg, var(--elpuas-preset-color-primary), var(--elpuas-preset-color-primary)),
                    linear-gradient(135deg, var(--elpuas-preset-color-primary), var(--elpuas-preset-color-primary)),
                    linear-gradient(225deg, transparent 25px, var(--elpuas-preset-color-primary) 10px);

                    width: 60%;
                    margin: 0;
                    padding: var(--elpuas-preset-space-lg);
                }
                /* folding */
                .fold {
                    -webkit-background-size: 35px 35px, 0 0, 0 0, 100% 100%;
                    -moz-background-size: 35px 35px, 0 0, 0 0, 100% 100%;
                    background-size: 35px 35px, 0 0, 0 0, 100% 100%;
                    background-position: 100% 0, 0 0, 100% 100%, 100% 0;
                    background-repeat: no-repeat;
                }
            }
        }
    }  
</style>