---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';

export interface NavigationItem {
	title: string;
	slug: string;
}

export interface Props {
	navigationItems: NavigationItem[];
}

const { navigationItems } = Astro.props;

---

<header>
	<nav>
		<h2 class="brand-logo" aria-label="ElPuas Logo Icon">
			<a href="/" aria-label={SITE_TITLE} title={SITE_TITLE}>
				<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 1024 1024" width="1024" height="1024"><path d="M1006.805 468.098c1.362 6.403 1.362 12.772-.443 19.176-.443-2.282-.92-4.564-1.362-7.289-2.725 26.907 0 56.573-25.545 74.386-33.753 23.263-69.346 27.827-105.858 7.289-39.237-22.343-72.547-49.284-74.829-99.931-.92-20.061 8.685-32.391 23.74-42.438 26.464-17.779 55.654-29.189 87.602-30.109s76.192 2.725 94.889 90.803c.443-4.121.92-8.208 1.839-11.853-3.644-27.384-18.699-71.628-25.102-79.393-24.182-30.109-35.15-65.258-45.64-101.736C895.497 145.996 802.412 60.676 659.599 31.487 518.149 2.298 380.82 26.003 244.82 65.717c-46.561 10.49-98.092 31.028-131.402 59.775C56.368 174.776.272 229.987 11.205 314.387c12.772 97.649 40.599 192.097 83.038 280.618 12.772 26.022 35.15 38.794 58.855 50.204 16.417 7.766 26.464 8.685 20.538-16.417-7.289-29.666 12.33-28.304 29.189-17.336 27.384 17.779 52.929 37.874 79.393 57.493v.443c39.714 50.204 68.425 108.14 85.796 169.754 8.208 30.109 18.699 61.614 48.365 77.554 78.95 42.881 129.597 66.178 184.808 79.393h.443c1.839.443 3.644.92 5.926 1.362l22.343 3.202c68.903 8.685 146.014 5.926 206.232-10.048 51.09-13.25 73.467-81.232 50.204-133.242-10.49 9.571 4.121 31.028-15.054 35.592-26.464 6.403-18.699-29.189-38.794-33.753-13.692 11.41.92 41.076-25.545 43.358-24.625 2.282-20.061-29.189-37.432-36.035-31.028 54.768-35.592 55.211-69.346 3.644-18.699 7.289-10.49 38.317-34.673 39.714-26.907 1.362-17.779-32.391-35.592-42.438-9.128 12.772-15.532 27.384-27.384 32.391v.443h-.443c-2.725-12.772 4.121-34.23-17.336-21.9-28.746 16.417-36.955 15.054-41.519-17.336-2.725-18.699-20.981-26.022-35.15-34.673-30.586-18.256 32.868-17.779 7.766-43.358l3.202-2.282c8.208-.92 15.054-7.766 20.538-15.974-1.362 4.564-1.839 9.571-1.839 14.135 17.779 1.839 26.464 19.176 32.391 38.317 36.035-32.868 36.035-32.868 64.339 5.007 31.471-42.438 32.868-42.438 63.896 1.839 32.391-45.163 34.673-45.163 71.628-4.121 15.532-50.204 19.176-50.647 63.419-3.644 4.121-66.178 31.028-23.263 50.647-7.766 15.532-29.666 24.625-55.211 12.772-84.4-5.484-13.25-10.048-25.545 9.571-34.23 52.929-24.625 65.701-41.076 83.514-96.287 4.564-13.25 9.571-26.464 15.532-39.237 12.33-26.464 10.49-57.05 1.362-86.239zM484.806 629.166c-20.061 3.202-40.156.443-58.855-7.766-69.822-28.746-83.514-115.428-22.82-159.229 62.976-45.163 135.047-70.743 212.193-80.756 17.779-2.282 37.432 2.725 54.768 8.685 57.936 19.176 64.782 37.874 36.955 93.085-2.725 5.484-6.403 10.932-8.685 16.417-36.955 98.569-109.979 139.168-213.554 129.597zm364.575 20.095c-3.202 30.586-13.692 55.211-55.654 51.09-23.74-28.304-85.32 32.868-94.889-34.23-5.484-37.432 69.822-114.986 99.454-111.341 28.746 2.725 55.654 52.009 51.09 94.448z"/></svg>
			</a>
		</h2><!-- /.brand-logo -->
		<div class="internal-links">
			{navigationItems.map((item) => (
				<HeaderLink href={`/${item.slug}`}>
					{item.title}
				</HeaderLink>
			))}
		</div>
	</nav>
</header>
<style>
	header {
		max-width: var(--elpuas-preset-content-width);
		margin: 0 auto;
		padding-left: var(--elpuas-preset-padding-lg);
		padding-right: var(--elpuas-preset-padding-lg);
	}
	.brand-logo {
		width: 2.5rem;
		height: 2.5rem;
		svg {
			fill: var(--elpuas-preset-color-tertiary);
			width: 100%;
			height: 100%;
			object-fit: contain;
		}

		a {
			display: block;
			width: 100%;
			height: 100%;
			margin: 0;
			border: none;
			transition: transform 0.3s ease-in-out;

			&:hover {
				animation: pulse 1s infinite;
				svg {
					fill: var(--elpuas-preset-color-secondary);
				}
			}
		}
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}

	@keyframes pulse {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(1.1);
		}
		100% {
			transform: scale(1);
		}
	}
</style>
